<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
</head>
<body>

	<div id="container"  style="display: flex;
				 			justify-content: center;
				 			align-items: center;
				 			flex-direction: column;
				 			height: 100vh;
				 			background-color: lightcoral;">
		
		<div style="background-color: cornflowerblue;
					padding: 20px;
					color: ghostwhite;
					font-size: xx-large;">
				
			{% for i in ars%}

				<p>{{i}}: {{ars[i]}}</p>

			{% endfor %}

		</div>


	</div>

</body>
</html>