<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home Page</title>

	<link rel="stylesheet"  href="{{ url_for('static', filename='home.css') }}">


</head>
<body>
 	
	<div id = "snt">
		<h1 id = "ht">Da Home Page</h1>

		<ul class="cnt">
		  
	  		<a href="{{url_for('supa_form', ty='basic')}}" class="spl">
	  			<li class="lii">
	  				Basic Forms
	  			</li>
	  		</a>
		  
		  	<a href="{{url_for('supa_form', ty='main')}}" class="spl">
		  		<li class="lii">
		  			Main Forms
		  		</li>
		  	</a>

		  	<a href="/ty" class="spl">
		  		<li class="lii">
		  			Ty
		  		</li>
		  	</a>

		</ul>

	</div>
	

</body>
</html>